/*
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style:  normal;
  font-weight: 400;
  src: url("/static/DM_Mono/DMMono-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style:  normal;
  font-weight: 800;
  src: url("/static/DM_Mono/DMMono-Medium.ttf") format("ttf");
  font-display: swap;
}
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  font-family: DM Mono, monospace;
}
